/*basic styles*/

html,
body {
    margin: 0;
}

html {
    background: #88686A;
    /*        background: #554142;*/
    /*    background: #2E552C;*/
}

body {
    font: 100% "Open Sans", Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    line-height: 1.6;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    font-family: "Open Sans", Helvetica, sans-serif;
    /*	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);*/
    color: #575451;
    margin: 0;
    line-height: 1;
}

h1 {
    font-size: 2.6em;
    margin-bottom: .5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.7em;
    line-height: 1.4;
}

h4 {
    font: 1.2em "Open Sans", Helvetica, sans-serif;
    color: black;
}

p {
    margin: 0 0 1em;
}

i.fa {
    font-size: 34px;
}

i.fa-times-circle {
    color: #FE5E52;
}

i.fa-check-circle {
    color: #50954D;
}

#tracker {
    border-radius: 10px 10px 0 0;
    background: #F4F6EF;
    width: 70%;
    margin: 50px auto 0 auto;
    padding: 1em 3em 1em 3em;
    display: flex;
    justify-content: space-between;
}

#tracker li {
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    margin: 0 18px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 32px;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 3px 0 rgba(105, 85, 87, 0.56);
}
#tracker h4 {
    color: #979B98;
    line-height: 3;
}

ul {
    list-style-type: none;
}

#next-button {
    background: #50954D;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1em;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-width: 0;
    border-style: none;
}

#next-button:hover {
    background: #356233;
    text-decoration: none;
}

#next-button:disabled {
    background: #999999;
    text-decoration: none;
    color: #ccc;
}

#begin,
#goToStart {
    font-weight: 600;
    font-size: 22px;
    padding: 14px 28px;
    border-radius: 30px;
    color: #489fdf;
    background-color: #fff;
    border-color: #554142;
    /*    border-bottom-width: 2px;*/
    border: 0;
    text-shadow: none;
    margin: 3em auto;
}



#splash,
#end {
    color: white;
    border-radius: 50px;
    width: 60%;
    margin: 50px auto;
    padding: 3em;
    text-align: center;
}

#splash h4,
#splash h1,
#end h4,
#end h1 {
    color: white;
    text-align: center;
}

#quiz {}

#main {
    border-radius: 0 0 10px 10px;
    background: #F4F6EF;
    width: 70%;
    margin: 0 auto 50px auto;
    padding: 0 3em 3em;
}

 h4 #isCorrect {
    line-height: 2;  
}



.isCorrectContainer {
    padding: 10px 0;
}

#responses li {
    display: inline-block;
    font-family: "Open Sans", Helvetica, sans-serif;
    margin: 1em;
}
#responses li button {
    border-radius: 8px;
    font-size: 1em;
    padding: 10px 20px 10px 20px;
    background: rgba(73,143,226,0.66);   
}
#responses li button:disabled {
    display: none;
}